body {
  background-color: #4B0082;
}

.background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background__bord {
  width: 60%;
  background-color: white;
  border-radius: 10px;
}

.background__bord__content {
  margin: 30px;
}

.background__bord__content h1 {
  font-size: 25px;
  margin-bottom: 20px;
}

.background__bord__content__form {
  display: flex;
  justify-content: space-between;
}

.background__bord__content__form--text {
  width: 80%;
  height: 30px;
}

.background__bord__content__form--submit {
  width: 70px;
  color: blue;
  border-color: blue;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}

.background__bord__content__table {
  margin-top: 30px;
  width: 100%;
}

.background__bord__content__table__tr {
  text-align: center;
  height: 40px;
}

.background__bord__content__table__tr--create {
  width: 30%;
}

.background__bord__content__table__tr--task {
  width: 40%;
}

.background__bord__content__table__tr2 {
  text-align: center;
  height: 45px;
}

.background__bord__content__table__tr2--task {
  width: 80%;
  border: solid 1px;
  border-radius: 5px;
  border-color: #DCDCDC;
  padding: 5px;
}

.background__bord__content__table__tr2--update {
  width: 70px;
  color: #FF4500;
  border-color: #FF4500;
  border-radius: 5px;
  padding: 5px;
  border: solid;
  background-color: white;
}

.background__bord__content__table__tr2--delete {
  width: 70px;
  color: #D3D3D3;
  border-color: #D3D3D3;
  border-radius: 5px;
  border: solid;
  padding: 5px;
  background-color: white;
}
